/* Grupos de formulario */
.form-group {
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 14px;
}

input {
    width: 100%;
    height: 24px;
    padding: 8px;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    font-size: 15px;
}

input:focus {
    border-color: #4DA63F;
    outline: none;
    box-shadow: 0 0 3px rgba(77, 166, 63, 0.5);
}

/* Botones */
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: #1abd59;
    color: white;
    padding: 8px 15px;
    /* Botones más pequeños */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    /* Texto de botón más pequeño */
}

button:hover {
    background-color: #015321;
}

button[type="reset"] {
    background-color: #bb3659;
}

button[type="reset"]:hover {
    background-color: #561828;

}